{% extends "base.html.jinja" %}

{% block title %} ッ Kitchin Kanri {% endblock %}


{% block content %}
   <div class="content-home"> 
     <div class="logo"> 
          <h1> キッチン </h1>
          <h1> Kitchin Kanri </h1>
     </div>
     <div class="home-image"></div> 
     <a href="/category_list">
          <div class="button"> 
               Realizar Pedido 
          </div>
     </a>
   </div>
{% endblock %}